.questions {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
  border-radius: 10px;
  /* background: var(--light-text-color); */
}

.questions:hover {
  box-shadow: 10px 10px 25px 1px #00000056;
  transform: scale(1.05);
}

.questions>p {
  font: 800 1.1rem "Poppins", sans-serif;
  color: var(--light-text-color);
  width: 90%;
  text-transform: uppercase;
}

.caretDown {
  font: 800 1.1rem "Poppins", sans-serif;
  color: var(--light-text-color);
  display: flex;
  right: 0;
  top: 0;
  cursor: pointer;
}

.caretUp {
  font: 500 1.1rem "Poppins", sans-serif;
  color: #33ff00;
  display: flex;
  right: 0;
  top: 0;
  cursor: pointer;
}

.active {
  box-shadow: 10px 10px 25px 1px #00000056;
  transform: scale(1.05);
  background: var(--gradient-green);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.answer {
  display: flex;
  padding: 1.5rem 0;
  background: var(--gradient-green);
  border-radius: 0px 0px 10px 10px;
}

.answer>p {
  padding: 0px 30px;
  font: 600 1.1rem "Poppins", sans-serif;
  color: var(--bg-light-color);
  max-width: 90%;
  overflow: hidden;
  transition: max-height 0.2s ease-out 0s, margin-top 0.2s ease-out 0s, margin-bottom 0.2s ease-out 0s, opacity 0.3s ease-out 0s;
}

.res {
  max-height: initial;
  margin: 20px 0 40px;
  opacity: 1;
}